HWSSKSYSDLL DLLFILE ..\LIBS\HWSSKSYS.DLL
HWSSKCNTDLL DLLFILE ..\LIBS\HWSSKCNT.DLL
DBEXPRESS70BPL BPLFILE ..\bpl\dbexpress70.bpl
DBRTL70BPL BPLFILE ..\bpl\dbrtl70.bpl
DBXCDS70BPL BPLFILE ..\bpl\dbxcds70.bpl
DSNAP70BPL BPLFILE ..\bpl\dsnap70.bpl
DSNAPCON70BPL BPLFILE ..\bpl\dsnapcon70.bpl
HWSBPL BPLFILE ..\bpl\hws.bpl
HWSDIALOGSBPL BPLFILE ..\bpl\hwsdialogs.bpl
INET70BPL BPLFILE ..\bpl\inet70.bpl
RTL70BPL BPLFILE ..\bpl\rtl70.bpl
RXCTL7BPL BPLFILE ..\bpl\RxCtl7.bpl
SOAPRTL70BPL BPLFILE ..\bpl\soaprtl70.bpl
VCL70BPL BPLFILE ..\bpl\vcl70.bpl
VCLDB70BPL BPLFILE ..\bpl\vcldb70.bpl
VCLIE70BPL BPLFILE ..\bpl\vclie70.bpl
VCLJPG70BPL BPLFILE ..\bpl\vcljpg70.bpl
VCLSHLCTRLS70BPL BPLFILE ..\bpl\vclshlctrls70.bpl
VCLSMP70BPL BPLFILE ..\bpl\vclsmp70.bpl
VCLX70BPL BPLFILE ..\bpl\vclx70.bpl
XMLRTL70BPL BPLFILE ..\bpl\xmlrtl70.bpl